{% extends "base.html" %}

{% block content %}

    <h1>Delete Manufacturer</h1>

    <p>Are you sure you want to delete the manufacturer: "{{ manufacturer }}"?</p>
    <p><i>All cars models from this manufacturer will be also deleted!</i></p>

    <form action=""  method="POST">
        {%  csrf_token %}
        <input type="submit" value="Yes, delete" class="btn btn-danger">
        <a href="{% url 'taxi:manufacturer-list' %}" class="btn btn-primary">Cancel</a>
    </form>

{% endblock %}
